.header {
  display: grid;
  grid-template-columns: 7fr min-content 1fr;
  align-items: center;
  padding: 163px;
  background-color: #ffffff;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu {
  display: flex;
  list-style: circle;
  padding: 0px;
  margin: -100px;
  padding-bottom: 32px;
}

.header__links-list-item {
  margin-right: -4px;
  padding-right: 28px;
  margin-top: 22px;
  font-size: 31px;
  word-spacing: -5px;
}

.header__links-list-item_no-bullet {
  list-style: none; /* Убираем маркер только для этого элемента */
}

.header__link {
  text-decoration: none;
  color: #000;
  font-size: 33px;
  transition: color 0.3s;
  margin-left: 21px;
  padding-right: 13px;
}

.header__logo {
  justify-self: center;
  text-align: center;
  margin-right: 260px;
}

.header__logo-image {
  width: 242px;
}

address {
  justify-self: end;
  font-size: 32px;
  width: 390px;
  transform: translateX(75px);
  font-style: normal;
}

.address p {
  margin: 12px 2px;
  font-size: 32px;
  color: #000000;
  margin-bottom: 10px;
}

.cover {
  position: relative;
  color: white;
  background-size: cover;
  background-position: center;
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  z-index: 2;
  height: 140vh; /* Устанавливаем высоту на 100% от высоты экрана */
  width: 100%; /* Устанавливаем ширину на 100% */
}

.cover__title {
  padding: 165px 50px 147px;
  flex-direction: column;
  display: flex;
  position: relative;
  gap: 20px;
  z-index: 2;
}

.aligned-text {
  font-size: 178px;
  font-weight: 700;
  line-height: 125px;
  letter-spacing: 51px;
  text-transform: uppercase;
}

.aligned-text_top-left {
  text-align: left;
  display: block;
  line-height: 120px;
  top: 0;
  padding: 39px;
  margin-top: 130px;
}

.aligned-text_center {
  text-align: center;
  margin-top: 55px;
  margin-left: 81px;
}

.aligned-text_bottom-right {
  text-align: right;
  line-height: 120px;
  display: block;
  margin-top: 96px;
  margin-right: -44px;
}

.cover__description {
  display: flex;
  position: absolute;
  bottom: 8%;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
  padding: 0 40px;
  z-index: 2;
  margin-bottom: -22px;
}

.cover__description-text {
  font-size: 2.4em;
  margin: 0;
  display: flex;
  text-transform: uppercase;
  word-spacing: 34px;
  flex: 1;
  padding-left: 47px;
  margin-top: -6px;
}

.letter-spacing-extended {
  letter-spacing: 0px;
}

.bet-button {
  padding: 23px 55px;
  font-size: 2.38em;
  text-transform: uppercase;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  /* Подвигаем кнопку влево */
  transform: translateX(-16px);
  word-spacing: 10px;
}

.bet-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.lots {
  background-color: #ffffff;
}

.lots__heading {
  text-align: left;
  margin-top: 198px;
  margin-bottom: 47px;
  margin-left: 94px;
  text-transform: uppercase;
  font-size: 4.33em;
  padding-top: 97px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 54px;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 30px;
}

.lots__card-list-item {
  flex: 1 1 380px;
  position: relative;
}

.card-link {
  text-decoration: none;
  color: inherit;
  display: block;
  height: 100%;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.card {
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 1050px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-lot-01 {
  background-image: url("../images/card-lot-01.jpg");
}

.card-lot-02 {
  background-image: url("../images/card-lot-02.jpg");
}

.card-lot-03 {
  background-image: url("../images/card-lot-03.jpg");
}

.lot__description {
  padding: 20px;
  color: rgb(255, 255, 255);
  width: 100%;
  z-index: 3;
}

.lot__description_top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.lot__description_bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.card__title {
  font-size: 2.4em;
  text-transform: uppercase;
  margin: 10px;
  text-decoration: underline;
  margin-top: 67px;
  margin-left: 45px;
}

.card__text {
  margin: 42px;
  margin-bottom: 71px;
  font-size: 2.2em;
}

.lots__look-more-link {
  display: block;
  text-align: left;
  margin-left: 50px;
  margin-top: 53px;
  margin-bottom: 300px;
  color: #000;
  font-size: 2.2em;
  text-decoration: none;
  margin-left: 93px;
}

.lots__look-more-link:hover {
  text-decoration: underline;
}

.about {
  text-align: center;
  background-color: #ffffff;
  height: 64vw;
}

.about__columns {
  display: grid;
  grid-template-columns: 470px 1fr;
  gap: 40px;
  margin-top: 50px;
}

.about__logo {
  width: 422px;
  height: 422px;
  background-color: black;
  border-radius: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: -310px;
  margin-left: 106px;
}

.about__logo-image {
  max-width: 260px;
  margin-bottom: -2px;
}

.about__title {
  font-size: 70px;
  margin-left: -48px;
  margin-bottom: 50px;
  text-transform: uppercase;
  margin-top: 110px;
}

.about__text {
  text-align: left;
  margin: 0;
  margin-top: 128px;
  margin-bottom: -82px;
  font-size: 35px;
  margin-left: 145px;
}

.about__text + .about__text {
  margin-bottom: 0;
}

.footer {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  background-color: #ffffff;
  padding: 50px;
  margin-top: -20px;
}

.footer__address {
  justify-self: start;
  width: 500px;
  text-align: left;
  margin-left: -8px;
  font-style: normal;
  margin-top: 10px;
}

.footer__menu,
.footer__social-list {
  text-align: center;
  margin-left: -322px;
  font-size: 32px;
  margin-top: -40px;
}

.footer__menu-list,
.footer__social-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__menu-list-item {
  margin-right: -360px;
}

.footer__social-list-item {
  margin-bottom: 0px;
}

.footer__social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: -58px;
}

.footer__social-link {
  display: inline-block;
}

.footer__social-icon {
  width: 90px;
  height: 86px;
  margin: 34px;
}

.section-padding {
  padding: 20px;
}

.section-margin {
  margin: 20px 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
