.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  padding: 90px 50px 96px 50px;
  align-items: center;
}

.header__nav {
  padding-right: 34px;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  list-style: circle;
  font-size: 18px;
  text-underline-offset: 4px;
}

.header__link {
  list-style: none;
}

.header__link a {
  text-decoration: none;
}

.header__logo {
  display: block;
}

.header__logo-image {
  width: 136px;
}

.header__address {
  max-width: 240px;
  justify-self: end;
  font-style: normal;
  font-size: 18px;
  line-height: 26px;
  text-underline-offset: 4px;
  max-width: 220px;
}

.cover {
  position: relative;
  padding: 165px 50px 50px;
  margin-bottom: 180px;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.cover__title {
  padding-bottom: 95px;
  opacity: 0.999;
  z-index: 0;
}

.aligned-text {
  display: block;
  font-weight: bold;
  font-size: 100px;
  line-height: 115px;
  letter-spacing: 0.3em;
  margin-right: -0.3em;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_bottom-right {
  text-align: right;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.999;
  z-index: 1;
}

.cover__description-text {
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 19px;
  line-height: 28px;
}

.bet-button {
  padding: 12px 32px;
  font-size: 22px;
  text-transform: uppercase;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  cursor: pointer;
}

.lots {
  padding: 0 24px;
  margin-bottom: 150px;
}

.lots__heading {
  padding-bottom: 20px;
  padding-left: 40px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 47px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.card {
  position: relative;
  display: block;
  list-style: none;
  max-width: 334px;
  min-height: 596px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card__film {
  background-image: url("../images/card-lot-01.jpg");
}

.card__book {
  background-image: url("../images/card-lot-02.jpg");
}

.card__paint {
  background-image: url("../images/card-lot-03.jpg");
}

.card__inner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px;
  z-index: 1;
  opacity: 0.999;
}

.card__inner-title {
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;
}

.card__inner-text {
  font-size: 20px;
  line-height: 24px;
}

.lots__look-more-link {
  display: block;
  padding-left: 40px;
  font-size: 20px;
  padding-top: 30px;
}

.about {
  padding: 0 24px;
  margin-bottom: 180px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr min-content min-content;
  align-items: center;
  grid-template-areas:
    "logo title title"
    ". text__start text__start"
    ". text__end text__end";
}

.about__logo {
  background-color: #000;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  grid-area: logo;
  justify-self: center;
}

.about__logo-image {
  width: 100%;
  padding: 63px 46px;
}

.about__title {
  grid-area: title;
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
}

.about__text {
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  margin: 4px;
}

.text__start {
  grid-area: text__start;
  padding-bottom: 24px;
}

.text__end {
  grid-area: text__end;
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 0 50px 82px;
}

.footer__address {
  text-underline-offset: 4px;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-underline-offset: 4px;
}

.footer__social-list-item {
  display: flex;
  gap: 48px;
  list-style: none;
}

.social__list-item {
  width: 48px;
  height: 48px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 0;
}
