.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 85px;
  background-color: #ffffff;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu {
  display: flex;
  gap: 10px;
  list-style: circle;
  padding: 0;
  margin: 0;
}

.header__links-list-item {
  margin-right: 20px;
}

.header__links-list-item_no-bullet::before {
  content: none;
}

.header__link {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  transition: color 0.3s;
}

.header__logo {
  justify-self: center;
  text-align: center;
}

.header__logo-image {
  width: 150px;
}

.address {
  justify-self: end;
  max-width: 250px;
  text-align: left;
}

.address p {
  margin: 5px 0;
  font-size: 14px;
  color: #000000;
}

.cover {
  position: relative;
  color: white;
  background-size: cover;
  z-index: 2;
}

.cover__background {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.cover__title {
  padding: 165px 50px 147px;
  flex-direction: column;
  display: flex;
  position: relative;
  gap: 20px;
  z-index: 2;
}

.aligned-text {
  font-size: 100px;
  font-weight: 700;
  line-height: 125px;
  letter-spacing: 30px;
  text-transform: uppercase;
}
.aligned-text_top-left {
  text-align: left;
  display: block;
  line-height: 120px;
  top: 0;
  padding: 30px;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_bottom-right {
  text-align: right;
  line-height: 120px;
  display: block;
  padding-right: 70px;
}

.cover__description {
  display: flex;
  position: absolute;
  bottom: 8%;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
  padding: 0 40px;
  z-index: 2;
}

.cover__description-text {
  font-size: 1.5em;
  margin: 0;
  display: flex;
  text-transform: uppercase;
  word-spacing: 15px;
  flex: 1;
  padding: 20 20px;
}

.letter-spacing-extended {
  letter-spacing: 2px;
}

.bet-button {
  padding: 15px 40px;
  font-size: 1.2em;
  text-transform: uppercase;
  color: white;
  background-color: transparent;
  border: 2px solid white;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.bet-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.lots {
  background-color: #ffffff;
}

.lots__heading {
  text-align: left;
  margin-top: 200px;
  margin-bottom: 30px;
  margin-left: 50px;
  text-transform: uppercase;
  font-size: 3.4em;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.lots__card-list-item {
  flex: 1 1 300px;
  position: relative;
}

.card-link {
  text-decoration: none;
  color: inherit;
  display: block;
  height: 100%;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.card {
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.lot__image {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  flex-grow: 1;
}

.lot__description {
  padding: 20px;
  color: rgb(255, 255, 255);
  width: 100%;
  z-index: 3;
}

.lot__description_top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.lot__description_bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.card__title {
  font-size: 1.5em;
  text-transform: uppercase;
  margin: 0;
  text-decoration: underline;
}

.card__text {
  margin: 0;
  font-size: 1.5em;
}

.lots__look-more-link {
  display: block;
  text-align: left;
  margin-left: 50px;
  margin-top: 40px;
  margin-bottom: 100px;
  color: #000;
  font-size: 1.4em;
  text-decoration: none;
}

.lots__look-more-link:hover {
  text-decoration: underline;
}

.about {
  text-align: center;
  background-color: #ffffff;
  height: 55vw;
}

.about__columns {
  display: grid;
  grid-template-columns: 470px 1fr;
  gap: 40px;
  margin-top: 50px;
}

.about__logo {
  width: 300px;
  height: 300px;
  background-color: black;
  border-radius: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: -210px;
}

.about__logo-image {
  max-width: 170px;
}

.about__title {
  font-size: 40px;
  padding-left: 250px;
  margin-bottom: 50px;
  text-transform: uppercase;
  margin-top: 110px;
}

.about__text {
  text-align: left;
  margin-bottom: 20px;
}

.about__text + .about__text {
  margin-bottom: 0;
}

.footer {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  background-color: #ffffff;
  padding: 50px;
}

.footer__address {
  justify-self: start;
  max-width: 250px;
  text-align: left;
}
.footer__menu,
.footer__social-list {
  text-align: center;
}

.footer__menu-list,
.footer__social-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__menu-list-item,
.footer__social-list-item {
  margin-bottom: 0px;
}

.footer__social-list {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.footer__social-link {
  display: inline-block;
}

.footer__social-icon {
  width: 50px;
  height: 50px;
}
